<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<!-- Sidebar-->
<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Barunmom</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-dibide my-0">

    <!-- Sidebar User Info -->
    <li class="nav-item sidebar-brand d-flex align-items-center justify-content-center no-arrow">
        <a class="nav-link" href="#">
            <div class="sidebar-brand-text mx-4">welcome, <br><span sec:authentication="name"></span></div>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-dibide mt-3">

    <!-- Heading -->
    <div class="sidebar-heading">
        Appointment
    </div>

    <!-- Nav Item - Manage my appointment -->
    <li class="nav-item">
        <a class="nav-link" href="/booking/newBooking">
            <i class="fas fa-clinic-medical"></i>
            <span>Book a new appointment</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-dibide my-0">

    <!-- Heading -->
    <div class="sidebar-heading">
        Management
    </div>

    <!-- Nav Item - Manage my appointment -->
    <li class="nav-item">
        <a class="nav-link" href="/booking/openUserBookingList">
            <i class="fas fa-edit"></i>
            <span>My appointment</span>
        </a>
    </li>

    <!-- Nav Item - Edit Profile -->
    <li class="nav-item">
        <a class="nav-link" href="/user/profile">
            <i class="fas fa-edit"></i>
            <span>My Profile</span>
        </a>
    </li>

</ul>
</body>